<h1>Login</h1>
<div class="mb-3">
    <%= form_with scope: :session, url: login_path do |form| %>
        <p>
            <%= form.label "Email: ",class:"form-label" %>
            <%= form.text_field :email, class:"form-control" %>
        </p>
        <p>
            <%= form.label "Password: ", class:"form-label" %>
            <%= form.password_field :password, class:"form-control" %>
        </p>
        <p>
            <%= form.submit "Login", data: {turbo: false}, class:"btn btn-success" %>
        </p>
    <% end %>
</div>
