<%= render 'shared/error_message', obj: @article %>
<%= form_with model: @article do |form| %>
    <p>
        <%= form.label "Title" %>
        <%= form.text_field :title %>
    </p>
    <p>
        <%= form.label "Description" %>
        <%= form.text_area :description %>
    </p>
    <p>
        <%= form.submit %>
    </p>
<% end %>