<%= render 'shared/error_message', obj: @article %>

<div class="mb-3">
    <%= form_with model: @article do |form| %>
        <p>
            <%= form.label "Title", class:"form-label" %>
            <%= form.text_field :title, class:"form-control" %>
        </p>
        <p>
            <%= form.label "Description", class:"form-label" %>
            <%= form.text_area :description, class:"form-control" %>
        </p>
        <p>
            <%= form.label "Make your selection (you can select more than one option): ", class:"form-label" %>
            <%= form.collection_select(:category_ids, Category.all, :id, :name, { prompt: 'Other'}, { multiple: true, size: 2, class:'form-select'} ) %>
        </p>
        <p>
            <%= form.submit class:"btn btn-success" %>
        </p>
    <% end %>
</div>