<%= render 'shared/error_message', obj: @user %>
<%= form_with model: @user do |form| %>
    <p>
        <%= form.label "Username:" %>
        <%= form.text_field :username %>
    </p>
    <p>
        <%= form.label "Email: " %>
        <%= form.text_field :email %>
    </p>
    <p>
        <%= form.label "Password: " %>
        <%= form.password_field :password %>
    </p>
    <p>
        <%= form.label "Password confirmation: " %>
        <%= form.password_field :password_confirmation %>
    </p>
    <p>
        <%= form.submit(@user.new_record? ? "Sign up" : "Update account") %>
    </p>
<% end %>