<h1>Users</h1>

<% @users.each do |user| %>
    <br>
    <p>User: <b><%= user.username %></b><br>
       Articles: <b><%= user.articles.length %></b><br>
        <%= link_to "Show user", user_path(user) %> 
        <% if logged_in? && user == current_user %>
            <%= link_to "Edit user", edit_user_path(user) %>
            <%= link_to "Cancel account", user_path(user), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %><br>
        <% end %>
        Joined: <b><%= time_ago_in_words(user.created_at) %></b> ago.
    <br>
<% end %>