<h1>Users: </h1>

<% @users.each do |user| %>
    <br>
    <div class="card text-white bg-dark">
        <div class="card-header">
            User ID: <b><%= user.id %></b><br>
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Username: <b><%= user.username %></b>
            </h5>
            <p>
                <%= pluralize(user.articles.count, 'articles') %>
            </p>
            <br>
            <p class="card-text">
                Email: <b><%= user.email %></b><br>
                Articles by: <b><%= user.articles.length %></b><br>
                Joined: <b><%= time_ago_in_words(user.created_at) %></b> ago.
            </p>
            <div>
                <%= link_to "Show user", user_path(user), class:"btn btn-primary" %> 
            </div>
        </div>
    </div>
<% end %>


 