<h1 class='text-center mt-4'>Categories</h1><br>
<div>
    <%= will_paginate @categories %>
</div>
<section>
    <% @categories.each do |category| %>
        <div class="card text-white bg-dark">
            <div class="card-header">
                Category ID: <b><%= category.id %></b><br>
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    Título: <span><%= category.name %></span>
                </h5>
                <p class="card-text">
                    Created by: <b><%= time_ago_in_words(category.created_at) %></b><br>
                </p>
                <p>
                    <%= pluralize(category.articles.count, 'articles') %>
                </p>
                <br>
                <div>
                    <%= link_to "Show", category_path(category), class:"btn btn-primary" %>
                </div>
            </div>
        </div>
        <br>
    <% end %>
</section>





