<h1>New category.</h1>
<%= render 'shared/error_message', obj: @category %>
<div class="mb-3">

<%= form_with model: @category do |form| %>
    <p>
        <%= form.label "Name:", class:"form-label" %>
        <%= form.text_field :name, class:"form-control" %>
    </p>
    <p>
        <%= form.submit class:"btn btn-success" %>
    </p>
<% end %>